<h1>
    theme1
    <br>
    <%= draft.personal.firstname %>
    <br>
    <%= draft.personal.lastname %>
    <br>
    <%= draft.personal.email %>
    <br>
    <%= draft.personal.linkedin %>
    <br>
    <%= draft.personal.phone %>
    <br>
    <%= draft.personal.address %>
</h1>